        .carousel-control.left {background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);}
        .carousel-control.right {background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);}
        /* 메인베너1 */
        .main-banner1 {
            background: linear-gradient(90deg,#0c151c 1.3125rem,transparent 1%) 50%,linear-gradient(#0c151c 1.3125rem,transparent 1%) 50%,#263747;
            background-size: 1.5rem 1.5rem;
            padding: 6rem 0;
            color: #fff;
        }
        .banner-cap {text-align: center;}

        /* 메인상품화면 */
        /* a태그가 inline요소여서 이미지를 감싸지 못함, 블럭으로 변경 */
        .prod-list {overflow: hidden;} /* col속성이 float을 가지고 있기 때문에 부모요소 overflow:hidden */
        .prod-list, .prod-link {border:1px solid #333; display: block; text-align: center;}
        .prod-list, .prod-list > li[class*="col-"] {padding: 5px;}

        .prod-link .arrow {
            position: absolute;
            bottom: 15px;
            left: 15px;
            display: block;
            width: 50px;
            line-height: 50px;
            height: 50px;
            color:white;
            background-color: #d6d6d6;
        }
        /* 호버 시에 가능 */
        .prod-link:hover {border-color: #4285f4;}
        .prod-link > .hover {opacity: 0; width: 100px; background-color: #4285f4;}
        .prod-link:hover > .arrow {opacity: 0;} /* link 호버 시에 .arrow클래스 투명도 0 */
        .prod-link:hover > .hover {opacity: 1;} /* link 호버 시에 .hover클래스 투명도 1 */

        /* ===============나이키 상품 리스트================= */
        .prod-nike-inner img{width: 100%;}
        .prod-content > .info > span{display: block;}
        .prod-content {overflow: hidden;}/* 상자배치 부모요소 히든 */
        .prod-content > .info{float: left;}
        .prod-content > .price{float: right;}

        .prod-nike-inner .prod-color {opacity: 0; transition: all 2s ease-in-out; margin-top: -18px;} /* 숨겨놓은 이미지 영역 */
        .prod-nike-inner:hover .prod-color {opacity: 1;}
        .prod-nike-inner .prod-color > ul {overflow: hidden;}
        .prod-nike-inner .prod-color > ul > li {float: left; width:50px}
        .page{text-align: center;}

        /* ================상품상세=============== */

        .detail-info .title{font-size:  24px;}
        .detail-info .price{border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; font-size: 30px; padding: 10px 0px;}
        .detail-info .delivery{color:#888;}
        .detail-info .order{}

        /* 댓글 영역 */
        /* 부모영역 릴레이티브 */
        .reply-wrap{padding:15px; background-color: #f5f5f5; border: 1px solid #ddd; position: relative;}
        .reply-wrap .reply-image{position: absolute; top:15px; left:15px;}
        .reply-wrap .reply-content{padding-left: 55px;}
        .reply-wrap .reply-content .form-control{resize: vertical; margin-bottom: 5px;}
        .reply-group .reply-input .form-control{width: 180px; margin-bottom: 5px;}
        .reply-group{overflow: hidden;}/* 부모영역 hidden */
        .reply-group .reply-input{float: left;}
        .reply-group button{float: right;}

        .reply-content textarea{height: 50px; transition: height 0.5s ease-in-out;}
        .reply-content textarea:focus{height: 150px;}
        /* 댓글 반복영역 */
        .reply-group strong, .reply-group small{float: left; margin-right: 10px;}
        .reply-group a{float: right; text-decoration: none; color:#777}

        /* ==============회원가입 폼============== */
        .titlebox{width: 250px; text-align: center; height: 40px; line-height: 40px; margin: 70px auto; border-top: 1px solid #E1E1E1; border-bottom: 1px solid #E1E1E1;}
        .join-form {margin: 0 auto; float: none;} /* 가운데 정렬 */
        /* 박스쉐도우: 그림자가 가로로 떨어진 간격, 세로로 떨어진 간격, 흐릿도 정도, 그림자 색상 */
        .join-form form{box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3); padding: 50px;}
        @media(max-width: 767px) {
            .join-form form{padding: 50px 0px;}
        } 
        .form-control{border-radius: 0px;}/* 윤곽 */
        .form-control:focus{border-color: #555;}

        /* ==================마이페이지 영역=================== */
        .myinfo {margin: 0 auto; float: none;}
        .tab-style {background-color: #607D8B;}
        .tab-style > li.active > a,
        .tab-style > li.active > a:hover,
        .tab-style > li.active > a:focus {background-color: #56707D; border: none; color: #fff;}
        .tab-style > li > a {border: none; border-radius: 0px; margin: 0px;}

        .tab-content {margin-top: 30px;}
        .sel {width: 200px;}
        .email input,
        .email select,
        .email div {width: 150px; display: inline-block;}

        /* ========================페이스북======================= */
        @media (max-width: 767px) {
            .aside-menu {display: none;}
        }

        .aside-inner{margin-top: 10px;}
        .aside-inner ul li a{text-decoration: none; color: #333333;}
        
        .section-inner .text-content textarea{height: 50px; transition: height 0.5s ease-in-out;}
        .section-inner .text-content textarea:focus{height: 100px;}
        .section-inner .text-group{overflow: hidden; margin-top: 10px;}
        .section-inner .text-group .left{float: left;}
        .section-inner .text-group .right{float: right;}

        .title-inner {padding:20px 0;}
        .title-inner p {margin: 0;}
        .title-inner{position: relative;}
        .title-inner .profile{position:absolute; top:20px; left:0px;}
        .title-inner .title{padding-left: 50px;}

        .content-inner{padding:10px 0;}

        .like-inner{padding: 10px 0; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; margin-top: 10px;}
        
        .link-inner{overflow: hidden; padding: 10px 0; border-bottom: 1px solid #ddd;}
        .link-inner a{display: block; float: left; width: 33.33%; text-align: center; text-decoration: none; color: #333333;}
        .link-inner i{margin: 0 5px;}

